@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ebebeb;
  --foreground: #171717;
  --container-md: 700px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter), Arial, Helvetica, sans-serif;
}

.pagination {
  @apply m-auto flex items-center justify-center overflow-hidden rounded-lg bg-white md:w-1/2;

  & > li {
    @apply w-[40px] border-x text-center hover:bg-slate-300;
  }

  & a {
    @apply block h-full w-full p-2;
  }

  & .active-page {
    @apply bg-black text-white;
  }

  & .disabled-page {
    @apply pointer-events-none bg-white text-black text-opacity-30;
  }

  & .break-pagination {
    @apply pointer-events-none bg-white;
  }

  & .prev-button {
    @apply m-auto w-[80px] border-0;
  }

  & .next-button {
    @apply m-auto w-[80px] border-0;
  }
}
